--
-- PostgreSQL database dump
--

\restrict FijwzAn87RVdXGQNrX1xZr1D1tMm8BFddwIFRLOeadrJlAJy9K63sXletTyHixQ

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ai_logs (
    meeting_id character varying,
    task_id character varying,
    user_id character varying,
    operation character varying(100) NOT NULL,
    model_name character varying(100),
    status character varying(50) NOT NULL,
    prompt_tokens integer,
    completion_tokens integer,
    total_tokens integer,
    latency_ms integer,
    request_payload jsonb,
    response_payload jsonb,
    error_message text,
    executed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.ai_logs OWNER TO postgres;

--
-- Name: background_jobs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.background_jobs (
    meeting_id character varying,
    job_type character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    celery_task_id character varying(100),
    payload jsonb,
    result jsonb,
    error_message text,
    attempts integer NOT NULL,
    queued_at timestamp with time zone,
    started_at timestamp with time zone,
    finished_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.background_jobs OWNER TO postgres;

--
-- Name: email_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_templates (
    name character varying(100) NOT NULL,
    template_type character varying(50) NOT NULL,
    subject character varying(255) NOT NULL,
    body text NOT NULL,
    description text,
    is_active boolean NOT NULL,
    variables jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.email_templates OWNER TO postgres;

--
-- Name: email_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.email_verification_tokens (
    user_id character varying NOT NULL,
    token_hash character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.email_verification_tokens OWNER TO postgres;

--
-- Name: employees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.employees (
    added_by_id character varying NOT NULL,
    name character varying(150) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(30),
    department character varying(100),
    designation character varying(100),
    is_active boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.employees OWNER TO postgres;

--
-- Name: escalation_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.escalation_logs (
    task_id character varying NOT NULL,
    employee_id character varying,
    manager_id character varying,
    escalation_level integer NOT NULL,
    reason text,
    email_sent boolean NOT NULL,
    escalated_at timestamp with time zone,
    resolved_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.escalation_logs OWNER TO postgres;

--
-- Name: meeting_participants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meeting_participants (
    meeting_id character varying NOT NULL,
    user_id character varying,
    participant_name character varying(150) NOT NULL,
    participant_email character varying(255),
    participant_role character varying(100),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.meeting_participants OWNER TO postgres;

--
-- Name: meeting_summaries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meeting_summaries (
    meeting_id character varying NOT NULL,
    executive_summary text NOT NULL,
    decisions jsonb,
    action_items jsonb,
    risks jsonb,
    model_name character varying(100),
    analysis_payload jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.meeting_summaries OWNER TO postgres;

--
-- Name: meeting_transcripts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meeting_transcripts (
    meeting_id character varying NOT NULL,
    transcript_text text NOT NULL,
    cleaned_text text,
    language character varying(20),
    confidence_score double precision,
    source_uri text,
    word_count integer,
    transcription_model character varying(100),
    duration_seconds double precision,
    transcript_format character varying(50) NOT NULL,
    transcript_storage_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.meeting_transcripts OWNER TO postgres;

--
-- Name: meetings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.meetings (
    owner_id character varying NOT NULL,
    title character varying(255) NOT NULL,
    agenda text,
    meeting_date date,
    start_time timestamp with time zone,
    duration_minutes integer,
    duration_seconds double precision,
    status character varying(50) NOT NULL,
    recording_url text,
    recording_filename character varying(255),
    recording_mime_type character varying(100),
    recording_size_bytes integer,
    source_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.meetings OWNER TO postgres;

--
-- Name: notification_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notification_logs (
    user_id character varying,
    task_id character varying,
    subject character varying(255) NOT NULL,
    body text,
    template_name character varying(100) NOT NULL,
    recipient_email character varying(255) NOT NULL,
    delivery_status character varying(20) NOT NULL,
    smtp_response text,
    retry_count integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.notification_logs OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    task_id character varying,
    recipient_id character varying,
    channel character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    subject character varying(255),
    body text,
    scheduled_for timestamp with time zone,
    sent_at timestamp with time zone,
    external_reference character varying(255),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_tokens (
    user_id character varying NOT NULL,
    token_hash character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    used_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    user_id character varying NOT NULL,
    jti character varying(64) NOT NULL,
    token_hash character varying(255) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: reminder_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reminder_logs (
    notification_id character varying,
    task_id character varying,
    status character varying(20) NOT NULL,
    attempt_number integer NOT NULL,
    scheduled_for timestamp with time zone,
    sent_at timestamp with time zone,
    response_message text,
    next_retry_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.reminder_logs OWNER TO postgres;

--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_logs (
    user_id character varying,
    level character varying(20) NOT NULL,
    service character varying(100) NOT NULL,
    message text NOT NULL,
    correlation_id character varying(100),
    request_path character varying(255),
    request_method character varying(20),
    context jsonb,
    occurred_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.system_logs OWNER TO postgres;

--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key character varying(100) NOT NULL,
    value text,
    value_type character varying(20) NOT NULL,
    description text,
    is_encrypted boolean NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: task_activities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_activities (
    task_id character varying NOT NULL,
    actor_user_id character varying,
    activity_type character varying(100) NOT NULL,
    previous_value text,
    current_value text,
    note text,
    details jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL
);


ALTER TABLE public.task_activities OWNER TO postgres;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    meeting_id character varying NOT NULL,
    assignee_id character varying,
    title character varying(255) NOT NULL,
    description text,
    priority character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    due_date timestamp with time zone,
    source_excerpt text,
    extracted_metadata jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL,
    assigned_by_id character varying(255),
    completion_date timestamp with time zone,
    reminder_enabled boolean DEFAULT true NOT NULL,
    reminder_interval_hours integer DEFAULT 24 NOT NULL
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    name character varying(150) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    email_verified boolean NOT NULL,
    email_verified_at timestamp with time zone,
    last_login_at timestamp with time zone,
    avatar_url character varying(500),
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    id character varying NOT NULL,
    employee_id character varying(50),
    department character varying(100),
    designation character varying(100),
    manager_id character varying(255)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: ai_logs ai_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_logs
    ADD CONSTRAINT ai_logs_pkey PRIMARY KEY (id);


--
-- Name: background_jobs background_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.background_jobs
    ADD CONSTRAINT background_jobs_pkey PRIMARY KEY (id);


--
-- Name: email_templates email_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_templates
    ADD CONSTRAINT email_templates_pkey PRIMARY KEY (id);


--
-- Name: email_verification_tokens email_verification_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_pkey PRIMARY KEY (id);


--
-- Name: employees employees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_pkey PRIMARY KEY (id);


--
-- Name: escalation_logs escalation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escalation_logs
    ADD CONSTRAINT escalation_logs_pkey PRIMARY KEY (id);


--
-- Name: meeting_participants meeting_participants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_participants
    ADD CONSTRAINT meeting_participants_pkey PRIMARY KEY (id);


--
-- Name: meeting_summaries meeting_summaries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_summaries
    ADD CONSTRAINT meeting_summaries_pkey PRIMARY KEY (id);


--
-- Name: meeting_transcripts meeting_transcripts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_transcripts
    ADD CONSTRAINT meeting_transcripts_pkey PRIMARY KEY (id);


--
-- Name: meetings meetings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meetings
    ADD CONSTRAINT meetings_pkey PRIMARY KEY (id);


--
-- Name: notification_logs notification_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_logs
    ADD CONSTRAINT notification_logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: reminder_logs reminder_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminder_logs
    ADD CONSTRAINT reminder_logs_pkey PRIMARY KEY (id);


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: task_activities task_activities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_activities
    ADD CONSTRAINT task_activities_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_logs_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_logs_meeting_id ON public.ai_logs USING btree (meeting_id);


--
-- Name: ix_ai_logs_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_logs_task_id ON public.ai_logs USING btree (task_id);


--
-- Name: ix_ai_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_ai_logs_user_id ON public.ai_logs USING btree (user_id);


--
-- Name: ix_background_jobs_celery_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_background_jobs_celery_task_id ON public.background_jobs USING btree (celery_task_id);


--
-- Name: ix_background_jobs_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_background_jobs_meeting_id ON public.background_jobs USING btree (meeting_id);


--
-- Name: ix_email_templates_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_email_templates_name ON public.email_templates USING btree (name);


--
-- Name: ix_email_verification_tokens_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_email_verification_tokens_token_hash ON public.email_verification_tokens USING btree (token_hash);


--
-- Name: ix_email_verification_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_email_verification_tokens_user_id ON public.email_verification_tokens USING btree (user_id);


--
-- Name: ix_employees_added_by_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_employees_added_by_id ON public.employees USING btree (added_by_id);


--
-- Name: ix_employees_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_employees_email ON public.employees USING btree (email);


--
-- Name: ix_escalation_logs_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_escalation_logs_employee_id ON public.escalation_logs USING btree (employee_id);


--
-- Name: ix_escalation_logs_manager_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_escalation_logs_manager_id ON public.escalation_logs USING btree (manager_id);


--
-- Name: ix_escalation_logs_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_escalation_logs_task_id ON public.escalation_logs USING btree (task_id);


--
-- Name: ix_meeting_participants_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_meeting_participants_meeting_id ON public.meeting_participants USING btree (meeting_id);


--
-- Name: ix_meeting_participants_participant_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_meeting_participants_participant_email ON public.meeting_participants USING btree (participant_email);


--
-- Name: ix_meeting_participants_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_meeting_participants_user_id ON public.meeting_participants USING btree (user_id);


--
-- Name: ix_meeting_summaries_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_meeting_summaries_meeting_id ON public.meeting_summaries USING btree (meeting_id);


--
-- Name: ix_meeting_transcripts_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_meeting_transcripts_meeting_id ON public.meeting_transcripts USING btree (meeting_id);


--
-- Name: ix_meetings_owner_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_meetings_owner_id ON public.meetings USING btree (owner_id);


--
-- Name: ix_notification_logs_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notification_logs_task_id ON public.notification_logs USING btree (task_id);


--
-- Name: ix_notification_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notification_logs_user_id ON public.notification_logs USING btree (user_id);


--
-- Name: ix_notifications_recipient_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_recipient_id ON public.notifications USING btree (recipient_id);


--
-- Name: ix_notifications_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_notifications_task_id ON public.notifications USING btree (task_id);


--
-- Name: ix_password_reset_tokens_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_password_reset_tokens_token_hash ON public.password_reset_tokens USING btree (token_hash);


--
-- Name: ix_password_reset_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_password_reset_tokens_user_id ON public.password_reset_tokens USING btree (user_id);


--
-- Name: ix_refresh_tokens_jti; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_refresh_tokens_jti ON public.refresh_tokens USING btree (jti);


--
-- Name: ix_refresh_tokens_token_hash; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_refresh_tokens_token_hash ON public.refresh_tokens USING btree (token_hash);


--
-- Name: ix_refresh_tokens_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_refresh_tokens_user_id ON public.refresh_tokens USING btree (user_id);


--
-- Name: ix_reminder_logs_notification_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reminder_logs_notification_id ON public.reminder_logs USING btree (notification_id);


--
-- Name: ix_reminder_logs_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_reminder_logs_task_id ON public.reminder_logs USING btree (task_id);


--
-- Name: ix_system_logs_correlation_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_system_logs_correlation_id ON public.system_logs USING btree (correlation_id);


--
-- Name: ix_system_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_system_logs_user_id ON public.system_logs USING btree (user_id);


--
-- Name: ix_system_settings_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_system_settings_key ON public.system_settings USING btree (key);


--
-- Name: ix_task_activities_actor_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_activities_actor_user_id ON public.task_activities USING btree (actor_user_id);


--
-- Name: ix_task_activities_task_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_task_activities_task_id ON public.task_activities USING btree (task_id);


--
-- Name: ix_tasks_assignee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tasks_assignee_id ON public.tasks USING btree (assignee_id);


--
-- Name: ix_tasks_meeting_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_tasks_meeting_id ON public.tasks USING btree (meeting_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_employee_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX ix_users_employee_id ON public.users USING btree (employee_id) WHERE (employee_id IS NOT NULL);


--
-- Name: ai_logs ai_logs_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_logs
    ADD CONSTRAINT ai_logs_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: ai_logs ai_logs_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_logs
    ADD CONSTRAINT ai_logs_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: ai_logs ai_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ai_logs
    ADD CONSTRAINT ai_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: background_jobs background_jobs_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.background_jobs
    ADD CONSTRAINT background_jobs_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: email_verification_tokens email_verification_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.email_verification_tokens
    ADD CONSTRAINT email_verification_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: employees employees_added_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.employees
    ADD CONSTRAINT employees_added_by_id_fkey FOREIGN KEY (added_by_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: escalation_logs escalation_logs_employee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escalation_logs
    ADD CONSTRAINT escalation_logs_employee_id_fkey FOREIGN KEY (employee_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: escalation_logs escalation_logs_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escalation_logs
    ADD CONSTRAINT escalation_logs_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: escalation_logs escalation_logs_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.escalation_logs
    ADD CONSTRAINT escalation_logs_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: meeting_participants meeting_participants_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_participants
    ADD CONSTRAINT meeting_participants_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: meeting_participants meeting_participants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_participants
    ADD CONSTRAINT meeting_participants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: meeting_summaries meeting_summaries_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_summaries
    ADD CONSTRAINT meeting_summaries_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: meeting_transcripts meeting_transcripts_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meeting_transcripts
    ADD CONSTRAINT meeting_transcripts_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: meetings meetings_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.meetings
    ADD CONSTRAINT meetings_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: notification_logs notification_logs_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_logs
    ADD CONSTRAINT notification_logs_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE SET NULL;


--
-- Name: notification_logs notification_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notification_logs
    ADD CONSTRAINT notification_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_recipient_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_recipient_id_fkey FOREIGN KEY (recipient_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: notifications notifications_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reminder_logs reminder_logs_notification_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminder_logs
    ADD CONSTRAINT reminder_logs_notification_id_fkey FOREIGN KEY (notification_id) REFERENCES public.notifications(id) ON DELETE CASCADE;


--
-- Name: reminder_logs reminder_logs_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reminder_logs
    ADD CONSTRAINT reminder_logs_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: system_logs system_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: task_activities task_activities_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_activities
    ADD CONSTRAINT task_activities_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: task_activities task_activities_task_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_activities
    ADD CONSTRAINT task_activities_task_id_fkey FOREIGN KEY (task_id) REFERENCES public.tasks(id) ON DELETE CASCADE;


--
-- Name: tasks tasks_assigned_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assigned_by_id_fkey FOREIGN KEY (assigned_by_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks tasks_assignee_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_assignee_id_fkey FOREIGN KEY (assignee_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: tasks tasks_meeting_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_meeting_id_fkey FOREIGN KEY (meeting_id) REFERENCES public.meetings(id) ON DELETE CASCADE;


--
-- Name: users users_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict FijwzAn87RVdXGQNrX1xZr1D1tMm8BFddwIFRLOeadrJlAJy9K63sXletTyHixQ

